
<hr>
<div class="text-center text-muted container my-3">
    AI Dungeon Contests 2020, created by 
    <strong>
        <a class="text-muted" target="_blank" href="https://paradox42.tech">
            theParadox42
        </a>
    </strong>
</div>
<hr class="mb-0">
</body>
</html>