<!DOCTYPE html>
<html lang="en">
<head>
    <title>AI Dungeon Contests</title>
    <link rel="shortcut icon" href="/assets/images/icon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/libraries/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/master.css">
    <script src="/assets/libraries/jQuery/jquery.min.js"></script>
    <script src="/assets/libraries/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<%- include("navbar.ejs") -%>
<% if(errorMessage && errorMessage.length > 0){ %>
<div class="container my-1">
    <div class="alert alert-danger" role="alert">
        <%= errorMessage %>
    </div>
</div>
<% } else if(successMessage && successMessage.length > 0){ %>
<div class="container">
    <div class="alert alert-success" role="alert">
        <%= successMessage %>
    </div>
</div>
<% } %>