<nav class="navbar navbar-expand-xl navbar-dark bg-black fixed-top">
	<div class="container">
		<a class="navbar-brand" href="/">
			AI Dungeon Contests
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/contests">Contests</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about">About</a>
				</li>
				<% if (isJudge) { %>
				<li class="nav-item">
					<a class="nav-link" href="/judge">Judge Entries</a>
				</li>
				<% } %>
			</ul>
			<div class="navbar-nav ml-auto">
				<% if (user) { %>
				<li class="nav-item">
					<a class="nav-link" href="/profile">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/logout">Logout</a>
				</li>
				<% } else { %>
				<li class="nav-item">
					<a class="nav-link" href="/register">Sign up</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/login">Login</a>
				</li>
				<% } %>
				</ul>
				<form class="form-inline my-2 my-lg-0" action="/stories" method="GET">
					<input class="form-control mr-sm-2" type="search" placeholder="Search Stories" name="q"
						aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</div>
	</div>
</nav>