<%- include("partials/header") -%>
<div class="container">
    <h1 class="text-center">404, page not found!</h1>
    <div>
        <a href="/">Go home!</a>
        <p>Unknown <%= routeType %> route</p>
    </div>
</div>
<%- include("partials/header") -%>