<%- include("partials/header") -%>
<div class="container text-center">
    <h1 class="text-warning">404, page not found!</h1>
    <div>
        <a href="/" class="h3">Go home!</a>
        <br>
        <small class="text-danger">Unknown <%= routeType %> route</small>
    </div>
</div>
<%- include("partials/header") -%>