<%- include("./partials/header") -%>

<div class="container">
    <h1 class="display-4">About <strong>AI Dungeon Contests</strong></h1>
    <div>
        <p>
            This is a website for managing AI Dungeon Contests put together by the discord community. You can join the discord <a href="https://discord.gg/crGKqDu">here</a> if you want to become more invloved with AI Dungeon. We are not affialited with AI Dungoen, this website was put up by volunteers, primarily <a href="https://paradox42.tech" target="_blank">theParadox42</a> who you can contact <a href="mailto://contact@paradox42.tech">here</a> if you have any issues. We only use cookies to store user sessions, although cookies may also be stored from <a href="https://aidungeon.io">aidungeon.io</a> and it's respective subdomains. Those cookies are under their cookie policy, not ours. Thank you for participating, best regards, <strong>theParadox42</strong>
        </p>
    </div>
</div>

<%- include("./partials/footer") -%>