<%- include("./partials/header") -%>

<div class="container">
    <a href="/">Home</a>
    <h1 class="display-4 text-center">Contest Rules</h1>
    <ol>
        <li>The story must be made by you</li>
        <li>You must use the provided prompt</li>
        <li>All stories must be SFW</li>
        <li>Have fun!</li>
    </ol>
    <p>
        Alter and other commands are allowed, mostly because we don't have the resources to enforce not using them, so modify away!
    </p>
</div>

<%- include("./partials/footer") -%>