<%- include("../partials/header") -%>

<div class="container">
    <div class="jumbotron bg-black">
        <h1 class="display-3">Contests!</h1>
        <p class="lead">
            The Discord community will host contests occasionally, usually every other week depending on how long judging takes.
        </p>
        <% if (isAdmin) { %>
        <a href="/contests/new" class="btn btn-success"><span class="badge badge-secondary">Admin</span> Create a contest!</a>
        <% } %>
    </div>
    <div class="row">
        <% contests.forEach(function(contest) { %>
        <% if(contest.status != "hidden" || isAdmin) { %>
        <div class="col-12 col-lg-6">
            <%- include("contest-card", { contest: contest }) -%>
        </div>
        <% } %>
        <% }); %>
    </div>
</div>

<%- include("../partials/footer") -%>