<%- include("../partials/header") -%>

<div class="container">
    <h1>Contests!</h1>
    <% if (isAdmin) { %>
    <a href="/contests/new" class="btn btn-success">Create a contest!</a>
    <% } %>
    <div class="row row-1 row-sm-2 row-md-3">
        <% contests.forEach(function(contest) { %>
        <% if(contest.status != "hidden" || isAdmin) { %>
        <div class="col">
            <%- include("../partials/contest-card", { contest: contest }) -%>
        </div>
        <% } %>
        <% }); %>
    </div>
</div>

<%- include("../partials/footer") -%>