<%- include("../partials/header") -%>

<div class="container">
    <h1>Create a Contest</h1>
    <form action="/contests" method="POST">
        <div class="form-group">
            <label for="contestName">Contest Name</label>
            <input type="text" name="title" id="contestName" class="form-control form-control-lg" required>
        </div>
        <div class="form-group">
            <label for="contestTag">Contest Tag</label>
            <input type="text" name="tag" id="contestTag" class="form-control" aria-describedby="tagHelp" required>
            <small class="form-text text-muted" id="tagHelp">
                Keep it short, simple, lowercase, unique, and without spaces.
            </small>
        </div>
        <div class="form-group">
            <label for="contestDescription">Contest Description</label>
            <input type="text" name="description" id="contestDescription" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="closeDate">Closing Date</label>
            <input type="date" name="closingDate" min="<%= moment(Date.now()).format('YYYY-MM-DD') %>" class="form-control" id="closeDate" aria-describedby="dateHelp" required>
            <small id="dateHelp" class="form-text text-muted">
                Submissions will be blocked after the closing date. Opening date is configured automatically.
            </small>
        </div>
        <div class="form-group">
            <label for="prompt">Contest Prompt</label>
            <textarea class="form-control" name="prompt" rows="4" id="prompt" placeholder="Enter the prompt in here" required></textarea>
        </div>
        <div class="form-group">
            <label for="status">Contest Status</label>
            <select class="form-control" name="status" id="status">
                <option value="hidden">Hidden</option>
                <option value="open">Open</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">
            Create Contest
        </button>
    </form>
</div>

<%- include("../partials/footer") -%>