<%- include("../partials/header") -%>

<div class="container">
    <h1>Create a Contest</h1>
    <form action="/contests" method="POST">
        <div class="form-group">
            <label for="contestName">Contest Name</label>
            <input type="text" name="title" id="contestName" class="form-control form-control-lg" required>
        </div>
        <div class="form-group">
            <label for="contestTag">Contest Tag</label>
            <input type="text" name="tag" id="contestTag" class="form-control" aria-describedby="tagHelp" required>
            <small class="form-text text-muted" id="tagHelp">
                No spaces, keep it simple and short, and has to be unique
            </small>
        </div>
        <div class="form-group">
            <label for="closeDate">Closing Date</label>
            <input type="date" name="closeDate" min="<%= moment(Date.now()).format('YYYY-MM-DD') %>" class="form-control" aria-describedby="dateHelp" required>
            <small id="dateHelp" class="form-text text-muted">
                The opening date is whenever you decide to open this contest publicly
            </small>
        </div>
        <div class="form-group">
            <label for="prompt">Contest Prompt</label>
            <textarea class="form-control" name="prompt" rows="4" id="prompt" required>
        </div>
        <div class="form-group">
            <label for="status">Contest Status</label>
            <select class="form-control" name="status" id="status">
                <option>Hidden</option>
                <option>Open</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">
            Create Contest
        </button>
    </form>
</div>

<%- include("../partials/footer") -%>