body {
    margin-top: 70px;
    padding-top: 10px;
}
.bg-black {
    background-color: rgb(35, 36, 37);
}
.text-light-gray {
    color: rgb(155, 157, 158);
}
hr {
    border-color: rgb(82, 82, 82);
}
.story-box {
    border-radius: 20px;
}
.story-output {
    color: rgb(190, 190, 190);
}
.story-input {
    font-weight: bold;
}
.shadow-light {
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.15) !important;
}