<%- include("../partials/header") -%>

<div class="container">
    <h1>Judging Criteria</h1>
    <dl>
        <dt>Relevancy</dt>
        <dd>How relevant the story is, especially to the prompt. If this is a fantasy setup, it shouldn't go sci-fi and vice-versa. It's totally fine to go off topic, but it should be graduated, but not change of genres, especially on the user's part</dd>
        <dt>Humor</dt>
        <dd>How funny the story is. Funny stories are entertaining, and the AI can easily produce some rather hilarous responses. Pretty self-explanatory here</dd>
        <dt>Entertainment</dt>
        <dd>How entertaining the story is, was it exciting, did it bore you out of your mind?</dd>
        <dt>Creativity</dt>
        <dd>Was the user creative? Did they really push the bounds of what they could do, instead of doing the obvious. They should strive to make it interesting, and show that they can make a story well.</dd>
    </dl>
</div>

<%- include("../partials/footer") -%>