<%- include("../partials/header") -%>

<div class="container">
    <h1>Judge Home</h1>
    <div>
        <p>Check out the <a href="/judge/criteria">Judging Criteria</a> or start judging some <a href="/judge/contests">contests</a>!</p>
    </div>
</div>

<%- include("../partials/footer") -%>