<%- include("../partials/header") -%>

<h1>
    Register!
</h1>

<form action="/login" method="POST">
    <label>Username: <input type="text" name="username" placeholder="Username" required></label>
    <label>Password: <input type="password" name="password" placeholder="Enter your password" required></label>
    <button type="submit">Submit!</button>
</form>

<%- include("../partials/footer") -%>