<%- include("../partials/header") -%>

<div class="container">
    <h1>Register!</h1>
    <form action="/register" method="POST">
        <div class="form-group">
            <label>
                Username
                <input type="text" name="username" class="form-control" required>
            </label>
        </div>
        <div class="form-group">
            <label>
                AI Dungeon Username
                <input type="text" name="AIDUsername" placeholder="Same as above" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label>
                Discord Username
                <input type="text" name="discordUsername" placeholder="Same as above" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label>
                Password
                <input type="password" name="password" class="form-control" required>
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit!</button>
    </form>
</div>

<%- include("../partials/footer") -%>