<%- include("../partials/header") -%>

<div class="container">
    <h1>Register!</h1>
    <form action="/register" method="POST">
        <div class="form-group">
            <label for="username">
                Username
            </label>
            <input type="text" name="username" class="form-control" id="username" required>
        </div>
        <div class="form-group">
            <label for="aidUsername">
                AI Dungeon Username
            </label>
            <input type="text" name="AIDUsername" placeholder="Same as above" id="aidUsername" class="form-control">
        </div>
        <div class="form-group">
            <label for="discordUsername">
                Discord Username
            </label>
            <input type="text" name="discordUsername" placeholder="Same as above" id="discordUsername" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">
                Password
            </label>
            <input type="password" name="password" class="form-control" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit!</button>
    </form>
</div>

<%- include("../partials/footer") -%>